body {
  align-items: center;
  background-color: teal;
  color: black;
  display: flex;
  font-family: sans-serif;
  font-size: 2vmin;
  hyphens: manual;
  justify-content: center;
  overflow-wrap: break-word;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

section {
  background-color: silver;
  border: 0.2vmin solid black;
  box-shadow: 1vmin 1vmin 0 black;
  margin: 1vmin auto;
  padding: 0.2vmin;
  width: 80vw;
}

table {
  background-color: white;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 0.1vmin solid black;
  padding: 1.2vmin;
  text-align: left;
}

th {
  background-color: navy;
  color: white;
  font-weight: 700;
  text-align: center;
}
